#container {
    width: 480px;
    height: 480px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 30px;
    width: 30px;
    background-color: honeydew;
}

.active {
    background-color: red;
}